<style>.reading { height: 100% }</style>

<div class="column {{ reading.value|column_width }}">
  <a href="/sensors/{{ sensor.id }}">
    <div class="notification reading {{ reading.value|color_class }}">
      <p class="title is-6" title="{{ sensor.id }}">
        {{ sensor.title.as_deref().unwrap_or(sensor.id.as_str()) }}
      </p>
      <p class="subtitle is-7" title="{{ reading.timestamp.to_string() }}">
        {{ reading.timestamp|format_datetime }}
      </p>
      <p class="has-text-centered has-text-weight-bold" title='{{ "{:?}"|format(reading.value) }}'>
        {{ reading.value|safe }}
      </p>
    </div>
  </a>
</div>
