{%- if event.unit == Unit.BOOLEAN -%}
  {%- if event.value -%}
    is-success
  {%- else -%}
    is-danger
  {%- endif -%}
{%- elif event.unit == Unit.CELSIUS -%}
  {%- if event.value < 0.0 -%}
    is-link
  {%- elif event.value < 10.0 -%}
    is-info
  {%- elif event.value < 20.0 -%}
    is-primary
  {%- elif event.value < 25.0 -%}
    is-success
  {%- elif event.value < 30.0 -%}
    is-warning
  {%- else -%}
    is-danger
  {%- endif -%}
{%- elif event.unit == Unit.RH -%}
  {%- if event.value < 17.0 -%}
    is-link
  {%- elif event.value < 34.0 -%}
    is-info
  {%- elif event.value < 51.0 -%}
    is-primary
  {%- elif event.value < 68.0 -%}
    is-success
  {%- elif event.value < 85.0 -%}
    is-warning
  {%- else -%}
    is-danger
  {%- endif -%}
{%- elif event.unit == Unit.BEAUFORT -%}
  {%- if event.value == 0 -%}
    is-light
  {%- elif event.value == 1 -%}
    is-link
  {%- elif event.value == 2 -%}
    is-info
  {%- elif event.value == 3 -%}
    is-primary
  {%- elif event.value == 4 -%}
    is-success
  {%- elif event.value == 5 -%}
    is-warning
  {%- else -%}
    is-danger
  {%- endif -%}
{% else %}
  is-light
{%- endif -%}
