{% if event.unit == Unit.BOOLEAN %}
  {% if event.value %}
    <i class="fas fa-toggle-on"></i> <span>yes</span>
  {% else %}
    <i class="fas fa-toggle-off"></i> <span>no</span>
  {% endif %}
{% elif event.unit == Unit.CELSIUS %}
  <i class="fas fa-thermometer-half"></i> {{ event.value|round(1) }}&nbsp;°C
{% elif event.unit == Unit.RH %}
  <i class="fas fa-water"></i> {{ event.value|round(1) }}%
{% elif event.unit == Unit.IMAGE_URL %}
  <figure class="image"><img src="{{ event.value }}" alt="Event image"></figure>
{% elif event.unit == Unit.HPA %}
  <i class="fas fa-weight-hanging"></i> {{ event.value|round(1) }} hPa
{% elif event.unit == Unit.BEAUFORT %}
  <i class="fas fa-wind"></i> {{ event.value }} BFT
{% elif event.unit == Unit.MPS %}
  <i class="fas fa-tachometer-alt"></i> {{ event.value }} m/s
{% elif event.unit == Unit.WATT %}
  <i class="fas fa-plug"></i> {{ event.value }} W
{% elif event.unit == Unit.ENUM %}
  <i class="fas fa-list-ul"></i> {{ event.value }}
{% elif event.unit == Unit.TIMEDELTA %}
  <i class="fas fa-stopwatch"></i> {{ event.value|fromseconds }}
{% elif event.unit == Unit.DATETIME %}
  <i class="fas fa-clock"></i> {{ event.value|fromtimestamp }}
{% else %}
  <i class="fas fa-font"></i> {{ event.value }}
{% endif %}
