{% extends "base.html" %}

{% block body %}
  <section class="hero {{ actual.reading.value.class() }}">
    <div class="hero-head">
      {% let navbar_item = "actual" %}
      {% include "partials/navbar.html" %}
    </div>
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-4" title='{{ "{:?}"|format(actual.reading.value) }}'>
          {% if actual.reading.value.is_inline() -%}
            {% let value = actual.reading.value.as_ref() %}
            {% include "partials/value.html" %}
          {% else -%}
            {{ actual.sensor.display_title() -}}
          {% endif -%}
        </h1>

        <h2 class="subtitle is-6">
          {% if actual.reading.value.is_inline() -%}
            <span title="{{ actual.sensor.sensor_id }}">{{ actual.sensor.display_title() }}</span>
          {% endif -%}
          <span><i class="far fa-clock"></i></span>
          <span title="{{ actual.reading.timestamp.to_string() }}">
            {{ actual.reading.timestamp|format_datetime }}
          </span>
        </h2>
      </div>
    </div>
  </section>

  {% if actual.reading.value.is_inline() %}
  {% else %}
    <section class="section">
      <div class="container">
        <div class="message">
          <div class="message-body">
            {% let value = actual.reading.value.as_ref() %}
            {% include "partials/value.html" %}
          </div>
        </div>
      </div>
    </section>
  {% endif %}

  <section class="section">
    <div class="container">
      <h3 class="title is-5">Latest reading</h3>
      <h4 class="subtitle is-7">This is stored in the database</h4>
      <div class="message">
        <div class="message-body">
          <pre><code>{{ "{:#?}"|format(actual.reading) }}</code></pre>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
