<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}My IoT{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="refresh" content="60">
  <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
  <link rel="stylesheet" href="/static/bulma.min.css">
  <link rel="stylesheet" type="text/css" href="/static/bulma-prefers-dark.css">
  <link rel="stylesheet" type="text/css" href="/static/fontawesome.css">
  <script src="/static/chart.js"></script>
</head>
<body>
  {% block body %}{% endblock %}
  <footer class="footer">
    <div class="container">
      <div class="columns">
        <div class="column is-4">
          <p>
            <i class="fas fa-circle has-text-info"></i>
            <a href="https://github.com/eigenein/my-iot-rs">
              <strong>My IoT {{ crate::web::templates::crate_version() }}</strong>
            </a>
            by
            <a href="https://github.com/eigenein"><strong>eigenein</strong></a>
          </p>
          <p>
            <i class="fas fa-certificate has-text-primary"></i>
            Made with <a href="https://bulma.io/"><strong>Bulma</strong></a>
          </p>
          <p>
            <i class="fab fa-fort-awesome has-text-success"></i>
            Icons by <a href="https://fontawesome.com/"><strong>Font Awesome</strong></a>
          </p>
        </div>
      </div>
    </div>
  </footer>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
      if ($navbarBurgers.length > 0) {
        $navbarBurgers.forEach(el => {
          el.addEventListener('click', () => {
            const $target = document.getElementById(el.dataset.target);
            el.classList.toggle('is-active');
            $target.classList.toggle('is-active');
          });
        });
      }
    });
  </script>
</body>
</html>
