{% extends "base.html" %}

{% block title %}{{ event.display_title }} – My IoT{% endblock %}

{% block body %}
  <section class="hero {% include "classes/color.html" %}">
    <div class="hero-head">
      {% include "includes/navbar.html" %}
    </div>
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-4">
          {% if event.unit != Unit.IMAGE_URL %}
            <span class="{% include "classes/value.html" %}" title="{{ event.value }}">
              {% include "includes/value.html" %}
            </span>
          {% else %}
            {{ event.display_title }}
          {% endif %}
        </h1>
        <h2 class="subtitle is-6">
          {% if event.unit != Unit.IMAGE_URL %}{{ event.display_title }}{% endif %}
          <span><i class="far fa-clock"></i></span> {% include "includes/timestamp.html" %}
        </h2>
      </div>
    </div>
    <div class="hero-foot">
      {% include "includes/periods.html" %}
    </div>
  </section>

  {% if event.unit == Unit.IMAGE_URL %}
    <section class="section">
      <div class="container">
        <div class="message">
          <div class="message-body">
            {% include "includes/value.html" %}
          </div>
        </div>
      </div>
    </section>
  {% endif %}

  {% if event.unit.is_logged %}
    <section class="section">
      <div class="container">
        {% if chart %}
          <div id="chart"></div>
          <script defer>Plotly.newPlot('chart', {{ chart|tojson }});</script>
        {% elif not has_events %}
          <div class="notification is-warning has-text-centered">
            There were no historical values within the selected period
          </div>
        {% else %}
          <div class="notification has-text-centered">
            Charts are not supported on this channel
          </div>
        {% endif %}
      </div>
    </section>
  {% endif %}

  <section class="section">
    <div class="container">
      <h3 class="title is-5">Latest raw event</h3>
      <h4 class="subtitle is-7">This is what is stored in the database</h4>
      <div class="message">
        <div class="message-body">
          <pre><code>{{ raw_event|pprint }}</code></pre>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
