{% extends "base.html" %}

{% block body %}
  <section class="hero is-info">
    <div class="hero-head">
      {% let navbar_item = "index" %}
      {% include "navbar.html" %}
    </div>
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-4">Dashboard</h1>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="columns is-multiline">
        {% for actual in actuals %}
          {% include "actual.html" %}
        {% endfor %}
      </div>
    </div>
  </section>
{% endblock %}
