{% extends "base.html" %}

{% block body %}
  <section class="hero is-info">
    <div class="hero-head">
      {{ NavbarPartialTemplate::new("index")|safe }}
    </div>
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-4">Dashboard</h1>
      </div>
    </div>
  </section>

  {% for (room_title, group) in actuals %}
    <section class="section">
      <div class="container">
        <h2 class="title is-5">
          {% match room_title -%}
            {% when Some with (room_title) -%}
              {{ room_title -}}
            {% else -%}
              No room
          {% endmatch -%}
        </h2>
        <div class="columns is-multiline">
          {% for actual in group %}
            {{ SensorTilePartialTemplate::new(actual)|safe }}
          {% endfor %}
        </div>
      </div>
    </section>
  {% endfor %}
{% endblock %}
