{% extends "base.html" %}

{% block title %}My IoT{% endblock %}

{% block body %}
  <section class="hero is-info">
    <div class="hero-head">
      {{ NavbarPartialTemplate::new("index")|safe }}
    </div>
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-4">Sensors</h1>
        <h2 class="subtitle is-6">{{ actuals.len() }} rooms</h2>
      </div>
    </div>
  </section>

  <section class="columns">
    <div class="column is-2 is-hidden-touch">
      <section class="section">
      <div class="container">
        <aside class="menu">
          <p class="menu-label">Rooms</p>
          <ul class="menu-list">
            {% for (room_title, _) in actuals %}
              <li><a href="#{{ room_title|slug }}">{{ room_title }}</a></li>
            {% endfor %}
          </ul>
        </aside>
      </div>
      </section>
    </div>

    <div class="column">
      {% for (room_title, group) in actuals %}
        <section class="section" id="{{ room_title|slug }}">
          <div class="container">
            <h2 class="title is-5">{{ room_title }}</h2>
            <div class="columns is-multiline">
              {% for (sensor, reading) in group %}
                {{ SensorTilePartialTemplate::new(sensor, reading)|safe }}
              {% endfor %}
            </div>
          </div>
        </section>
      {% endfor %}
    </div>
  </section>
{% endblock %}
