<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-burger burger" role="button" aria-label="menu" aria-expanded="false" data-target="navbar-menu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbar-menu" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item {% if navbar_item == "index" %}is-active{% endif %}" href="/">
          <span class="icon"><i class="fas fa-home"></i></span> <span>Home</span>
        </a>
        <a class="navbar-item" href="/sensors">
          <span class="icon"><i class="fas fa-chart-line"></i></span> <span>Sensors</span>
        </a>
        <a class="navbar-item" href="/readings">
          <span class="icon"><i class="fas fa-ruler-combined"></i></span> <span>Readings</span>
        </a>
        <a class="navbar-item" href="/status">
          <span class="icon"><i class="fas fa-thermometer-half"></i></span> <span>Status</span>
        </a>
      </div>

      <div class="navbar-end">
        <a class="navbar-item" href="https://github.com/eigenein/my-iot-rs/wiki">
          <span class="icon"><i class="fas fa-external-link-alt"></i></span> <span>Wiki</span>
        </a>
        <a class="navbar-item" href="https://github.com/eigenein/my-iot-rs/issues">
          <span class="icon"><i class="fas fa-external-link-alt"></i></span> <span>Issues</span>
        </a>
      </div>
    </div>
  </div>
</nav>
