{% extends "base.html" %}

{% block title %}{{ sensor.title() }} – {{ sensor.room_title() }} – My IoT{% endblock %}

{% block body %}
  <section class="hero {{ reading.value|color_class }}">
    <div class="hero-head">
      {{ NavbarPartialTemplate::new("sensor")|safe }}
    </div>

    <div class="hero-body">
      <div class="container">
        <h1 class="title is-4" title='{{ "{:?}"|format(reading.value) }}'>
          {% if reading.value.is_inline() -%}
            {{ ValuePartialTemplate::new(reading.value)|safe }}
          {% else -%}
            {{ sensor.title() -}}
          {% endif -%}
        </h1>

        <h2 class="subtitle is-6">
          {% if reading.value.is_inline() -%}
            <span title="{{ sensor.id }}">{{ sensor.title() }}</span>
          {% endif -%}

          <i class="fas fa-couch"></i>
          <span>{{ sensor.room_title() }}</span>

          <span><i class="far fa-clock"></i></span>
          <span title="{{ reading.timestamp.to_string() }}">
            {{ reading.timestamp|format_datetime }}
          </span>
        </h2>
      </div>
    </div>
  </section>

  {% if chart.is_empty() %}
  {% else %}
    <section class="section">
      <div class="container">
        <nav class="tabs is-centered">
          <div class="container">
            <ul>
              <li><a href="?minutes=5">5 mins</a></li>
              <li><a href="?minutes=60">1 hour</a></li>
              <li><a href="?minutes=720">12 hours</a></li>
              <li><a href="?minutes=1440">1 day</a></li>
              <li><a href="?minutes=10080">1 week</a></li>
              <li><a href="?minutes=43200">1 month</a></li>
            </ul>
          </div>
        </nav>
      </div>

      <div class="container">{{ chart|safe }}</div>
    </section>
  {% endif %}

  {% if reading.value.is_inline() %}
  {% else %}
    <section class="section">
      <div class="container">
        <div class="message">
          <div class="message-body">
            {{ ValuePartialTemplate::new(reading.value)|safe }}
          </div>
        </div>
      </div>
    </section>
  {% endif %}

  <section class="section">
    <div class="container">
      <h3 class="title is-5">Raw data</h3>

      <div class="message">
        <div class="message-body">
          <pre><code>{{ "{:#?}"|format(sensor) }}</code></pre>
        </div>
      </div>

      <div class="message">
        <div class="message-body">
          <pre><code>{{ "{:#?}"|format(reading) }}</code></pre>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
