{% extends "base.html" %}

{% block title %}{{ sensor.title() }} – {{ sensor.room_title() }} – My IoT{% endblock %}

{% block body %}
  <section class="hero {{ reading.value|color_class }}">
    <div class="hero-head">
      {{ NavbarPartialTemplate::new("sensor")|safe }}
    </div>

    <div class="hero-body">
      <div class="container">
        <h1 class="title is-4" title='{{ "{:?}"|format(reading.value) }}'>
          {% if reading.value.is_inline() -%}
            {{ reading.value|safe }}
          {% else -%}
            {{ sensor.title() -}}
          {% endif -%}
        </h1>

        <div class="subtitle is-6">
          {% if reading.value.is_inline() -%}
            <span title="{{ sensor.id }}">{{ sensor.title() }}</span>
          {% endif -%}

          <span class="icon"><i class="fas fa-couch"></i></span>
          <span>{{ sensor.room_title() }}</span>

          <span class="icon"><i class="far fa-clock"></i></span>
          <span title="{{ reading.timestamp.to_string() }}">
            {{ reading.timestamp|format_datetime }}
          </span>
        </div>
      </div>
    </div>
  </section>

  <section class="columns">
    <div class="column is-9">
      {% if chart.is_empty() %}
      {% else %}
        <section class="section">
          <div class="container">
            <h3 class="title is-5">Last {{ minutes }} minutes</h3>

            <nav class="tabs is-centered">
              <div class="container">
                <ul>
                  <li><a href="?minutes=5">5 mins</a></li>
                  <li><a href="?minutes=30">30 mins</a></li>
                  <li><a href="?minutes=60">1 hour</a></li>
                  <li><a href="?minutes=720">12 hours</a></li>
                  <li><a href="?minutes=1440">1 day</a></li>
                  <li><a href="?minutes=10080">1 week</a></li>
                  <li><a href="?minutes=43200">1 month</a></li>
                </ul>
              </div>
            </nav>
          </div>

          <div class="container">{{ chart|safe }}</div>
        </section>
      {% endif %}

      {% if reading.value.is_inline() %}
      {% else %}
        <section class="section">
          <div class="container">
            <div class="message">
              <div class="message-body">
                {{ reading.value|safe }}
              </div>
            </div>
          </div>
        </section>
      {% endif %}

      <section class="section">
        <div class="container">
          <h3 class="title is-5">Raw data</h3>

          <div class="message">
            <div class="message-body">
              <pre><code>{{ "{:#?}"|format(sensor) }}</code></pre>
            </div>
          </div>

          <div class="message">
            <div class="message-body">
              <pre><code>{{ "{:#?}"|format(reading) }}</code></pre>
            </div>
          </div>
        </div>
      </section>
    </div>

    <div class="column">
      <section class="section">
        <div class="container">
          <h3 class="title is-5">Details</h3>

          <p class="content is-size-7-desktop">
            <strong>Value</strong>: <code>{{ "{:?}"|format(reading.value) }}</code><br>

            <strong>Expires</strong>: <span title="{{ sensor.expires_at }}">{{ sensor.expires_at|format_datetime }}</span><br>

            <strong>API</strong>:
            <a href="{{ uri!(get_sensor_json: &self.sensor.id) }}">JSON</a>
          </p>
        </div>
      </section>

      <section class="section">
        <div class="container">
          <h3 class="title is-6">Danger Zone (Unimplemented)</h3>
          <form>
            <div class="field">
              <div class="field has-addons">
                <div class="control is-expanded">
                  <input class="input is-small" type="text" placeholder="Type «DELETE»" pattern="DELETE" required>
                </div>
                <div class="control">
                  <input type="submit" class="button is-danger is-small" value="Delete">
                </div>
              </div>
              <p class="help">Sensor deletion will lead to deleting all the associated sensor readings</p>
            </div>
          </form>
        </div>
      </section>
    </div>
  </section>
{% endblock %}
