{% extends "base.html" %}

{% block title %}{{ sensor.title() }} – {{ sensor.room_title() }} – My IoT{% endblock %}

{% block body %}
  <section class="hero {{ reading.value.class() }}">
    <div class="hero-head">
      {{ NavbarPartialTemplate::new("sensor")|safe }}
    </div>
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-4" title='{{ "{:?}"|format(reading.value) }}'>
          {% if reading.value.is_inline() -%}
            {{ ValuePartialTemplate::new(reading.value)|safe }}
          {% else -%}
            {{ sensor.title() -}}
          {% endif -%}
        </h1>

        <h2 class="subtitle is-6">
          {% if reading.value.is_inline() -%}
            <span title="{{ sensor.id }}">{{ sensor.title() }}</span>
          {% endif -%}
          <span><i class="far fa-clock"></i></span>
          <span title="{{ reading.timestamp.to_string() }}">
            {{ reading.timestamp|format_datetime }}
          </span>
        </h2>
      </div>
    </div>
  </section>

  {% if reading.value.is_inline() %}
  {% else %}
    <section class="section">
      <div class="container">
        <div class="message">
          <div class="message-body">
            {{ ValuePartialTemplate::new(reading.value)|safe }}
          </div>
        </div>
      </div>
    </section>
  {% endif %}

  <section class="section">
    <div class="container">
      <h3 class="title is-5">Raw data</h3>
      <h4 class="subtitle is-7">This is stored in the database. Keep in mind that it may contain sensitive information</h4>
      <div class="message">
        <div class="message-body">
          <pre><code>{{ "{:#?}"|format(sensor) }}</code></pre>
        </div>
      </div>
      <div class="message">
        <div class="message-body">
          <pre><code>{{ "{:#?}"|format(reading) }}</code></pre>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
