{% extends "base.html" %}

{% block title %}Services – My IoT{% endblock %}

{% block body %}
  <section class="hero is-info">
    <div class="hero-head">
      {% include "includes/navbar.html" %}
    </div>
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-4">Services</h1>
        <h2 class="subtitle is-6">{{ services|length }} services</h2>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <table class="table is-striped is-fullwidth">
        <tbody>
        {% for service in services %}
          <tr><td class="is-family-monospace">{{ service }}</td></tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </section>
{% endblock %}
