{% extends "base.html" %}

{% block body %}
  <section class="hero is-info">
    <div class="hero-head">
      {{ NavbarPartialTemplate::new("settings")|safe }}
    </div>
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-4">Settings</h1>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="message">
        <div class="message-body">
          <pre><code>{{ settings }}</code></pre>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
