name: Check

on:
  push:
    branches:
      - master
  pull_request: {}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: APT
        run: sudo apt-get update && sudo apt-get install -y libsqlite3-dev
      - name: Rustup
        uses: actions-rs/toolchain@v1
          with:
            toolchain: nightly
            override: true
            components: rustfmt, clippy
      - uses: actions/checkout@v2
      - name: Check
        uses: actions-rs/cargo@v1
          with:
            command: check
